root: true
extends:
  - '@react-native-community'
  - "eslint:recommended"
  - "plugin:@typescript-eslint/eslint-recommended"
  - "plugin:@typescript-eslint/recommended"
  - 'plugin:react-native/all'

plugins:
  - "react"
  - "react-native"
  - "@typescript-eslint"
  - "prettier"

parser: '@typescript-eslint/parser'

rules:
  "@typescript-eslint/ban-types": "off"
  "@typescript-eslint/no-explicit-any": "off"
